.head-text {
    position: relative;
 }
.search{
    left: 150px;
    top: 20px;
 }
 .text-on-image{
    position: absolute;
    width: 650px;
    height: 115px;
    left: 300px;
    top: 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
letter-spacing: -0.01em;
font-feature-settings: 'salt' on, 'liga' off;

/* Default / White */

color: #FFFFFF;
 }

 .nav-item {
    align-self: center;
    text-decoration: none;
    
    background-color:white;
    color: black; 
    }
    
    .nav-item:hover {
    color: red; 
    border-bottom: 1.2px solid red;
    }

.nav-item a {
    background-color:white;
    color: black;
    }
.nav-item a:hover {
    background: white;
    color: red;
}


.btn {
        align-self: center;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        background-color:#008489;
        border-color: #008489;
        color: white; 
        border-radius: 10px;
        }
        
        .btn:hover {
            background-color: #803D3D; 
            border-color: #803D3D;
        }
        .adBtn{
            /* Auto Layout */
            display: inline-block;
            flex-direction: row;
            align-items: center;
            padding: 12px 32px;
            color: black;
            /* Default / White */
            font-family: 'Raleway', sans-serif;
        
            background: #FFFFFF;
            border-radius: 16px;
        }
        .adBtn:hover{
            /* Auto Layout */
            display: inline-block;
            flex-direction: row;
            align-items: center;
            padding: 12px 32px;
            color: white;
            border-color:#803D3D; 
            /* Default / White */
            
            background: black;
            border-radius: 16px;   
        }
        .typography{
            font-family: 'Raleway', sans-serif;
            font-size: medium;
        }
        .typographySmall{
            font-family: 'Raleway', sans-serif;
            font-size: small;
        }
        .aclass{
            font-family: 'Raleway', sans-serif;
        }
        
        .subscribe{
            display: flex;
            justify-content: space-between;
        }
        
        i{
            margin-top: -5px;
        }
        
        .sub-form{
            background: transparent !important;
            height: 40px !important;
            width: 85% !important;
        }
        .spanHeader{
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 16px;
        
        }
        .liitem{
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
        
        }
        .sub-title-procedure{
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            color: #FFFFFF;
            font-weight: bold;
            align-self: center;
            justify-content: center;
            align-items: center;
        }


/* ---------------------------Banner----------------------- */

.SearchBar{
    position: relative;
}

.SearchBar .body{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SearchBar .body h1 {  

    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;


    text-align: center;
    letter-spacing: -0.01em;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.SearchBar .body .search-body{
    width: 790px;
    height: 70px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.SearchBar .body .search-body .search-item{
    width: 27%;
    margin: auto;
}

.SearchBar .body .search-body .search-item h3{
    font-family: Inter;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #686868;
}

.SearchBar .body .search-body .search-item textarea{
    height: 25px;
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14.22px;
    line-height: 17px;
    color: #B0B0B0;
    text-align: left;
    overflow: hidden;
    border: none;
    resize: none;
}

.SearchBar .body .search-body .search-button{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    width: 95px;
    height: 44px;
    background: #1F1F1F;
    border-radius: 8px;
}

.SearchBar .body .search-body .search-button h4{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}

.SearchBar .body .search-body .search-button .search-icon{
    font-size: 18px;
}


.SearchBar .body h2{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 30px;
}



/* -----------------------------MapBox------------------------ */

.MapBox{
    width: 100%;
    padding: 50px 0px;
}

.MapBox .container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MapBox .container .left{
    width: 48%;
}

.MapBox .container .right{
    width: 48%;
}

.MapBox .container .right h2{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    margin-bottom: 20px;
    color: #262626;
}

.MapBox .container .right .body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.MapBox .container .right .body .mapbox-item-main{
    padding: 15px 20px;
    height: 79px;
    width: 100%;
    background: #853333;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.MapBox .container .right .body .mapbox-item-main .lefter h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.MapBox .container .right .body .mapbox-item-main .lefter h4{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;

}

.MapBox .container .right .body .mapbox-item{
    padding: 15px 20px;
    height: 79px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    margin-bottom: 10px;

}

.MapBox .container .right .body .mapbox-item .lefter h3{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #363636;
}

.MapBox .container .right .body .mapbox-item .lefter h4{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #B0B0B0;

}


/* ------------------------AD Component ----------------------- */

.AdComponent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 165px;
    background: #803D3D;
}

.AdComponent .body{
    width: 100%;
}

.AdComponent .body h1{

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;

    text-align: center;
    letter-spacing: -0.01em;
    font-feature-settings: 'salt' on, 'liga' off;


    color: #FFFFFF;

}

.AdComponent .body button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 32px;

    border-style: none;
    border: none;
	cursor: pointer;
	outline: inherit;
    margin: auto;
    margin-top: 40px;
    background: #FFFFFF;
    border-radius: 8px;
}


/* ------------------------------Footer--------------------------- */

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 64px 165px;
    background: #1F1F1F;
}

.footer .body{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .body .left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .body .left h3{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    font-feature-settings: 'salt' on, 'liga' off;


    color: #D9DBE1;
}

.footer .body .right{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .body .right .col-1{
    width: 30%;
}

.footer .body .right .col-1 h2{
    font-family: Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        /* identical to box height, or 150% */

        font-feature-settings: 'salt' on, 'liga' off;

        /* Default / White */

        color: #FFFFFF;

}

.footer .body .right .col-1 p{
    font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 300 */

color: #D9DBE1;

} 

.footer .body .right .col-3{
    width: 35%;
}

.footer .body .right .col-3 .email{
    border-radius: 8px;
    /* display: flex; */
    background: #585555;
    display: flex;
    align-items: center;
}

.footer .body .right .col-3 .email input{
    border: none;
}

.footer .body .right .col-3 .email input::placeholder{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    font-feature-settings: 'salt' on, 'liga' off;

    /* Text / Gray 300 */

    color: #D9DBE1;
}

.footer .body .right .col-1 .email .bi{
    color: #ffffff !important;
    z-index: 2;
}


/* ----------------------------Table--------------------- */
.table{
    width: 100%;
    padding: 50px 0px;
}

.table .head{
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.table .head .left{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #262626;
    margin-bottom: 20px;
}


.table table {
    width: 100%;
    border-right-color: #ffffff;
    /* /* border: 1px solid #343a40; */
    border-collapse: collapse; 
    border: none !important;
    color: #333333;
    padding: 0px 50px;
    
  }

  .table table thead tr{
      border: none !important;
  }
  
.table table  th, td {
    /* border: 1px solid #343a40; */
    padding: 16px 24px;
    text-align: left;
    border: none !important;
    border-bottom: none !important;
    padding: 22px 0px;
  }

  .table table .th-pad{
      width: 4%;
  }

.table table  th {
    background-color: #ffff;
    width: 16.66%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
   color: #949494;
   border-collapse: collapse; 
   border: none !important;
  }

.table table  tbody tr:nth-child(odd){
    background: #fff4f4;
    border: none !important;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }

  
.table table  tbody tr:nth-child(even){
    color: #333333;;
    border: none !important;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
}


